@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


$primary-SoftRed: hsl(7, 99%, 70%);
$primary-Yellow: hsl(51, 100%, 49%);
$primary-DarkCyan: hsl(167, 40%, 24%);
$primary-DarkBlue: hsl(198, 62%, 26%);
$primary-DarkDarkCyan: hsl(168, 34%, 41%);

$neutral-VeryDarkBlue: hsl(212, 27%, 19%);
$neutral-VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$neutral-DarkGrayishBlue: hsl(232, 10%, 55%);
$neutral-GrayishBlue: hsl(210, 4%, 67%);
$neutral-White: hsl(0, 0%, 100%);

$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;