@use "baseStyle";

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
  width: 100vw;
}

// own clases.

.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.oculto {
  display: none;
}

.barlow {
  font-family: baseStyle.$font-barlow;
  font-weight: 700;
  color: baseStyle.$neutral-DarkGrayishBlue
}

.fraunces {
  font-family: baseStyle.$font-fraunces;
}



// Mobile design

//header and navbar
header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/mobile/image-header.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;

        nav {
          height: 7vh;
          top: 0;
          justify-content: space-between;
          align-items: center;
          padding: 2vh 3vh;
        
          img {
            height: 4vh;
          }

          div 
           {
            position: absolute;
            z-index: 10;
            justify-content: space-evenly;
            top: 10px;
            margin: 20% 0% 5%;
            width: 90%;
            height: 40%;
            background-color: azure;
            text-align: center;

              #triangle {
                transform: skewY(-45deg);
                // transform: rotate(1deg);
                margin: 0;
                position: absolute;
                z-index: -1;
                width: 15%;
                height: 15%;
                background-color: azure;
                top: 0px;
                right: 0px;
             }




              a {
                text-decoration: none;
                color: baseStyle.$neutral-DarkGrayishBlue;
              }

              #contactButton {
                width: 25%;
                padding: 3%;
                margin-left: auto;
                margin-right: auto;
                border-radius: 100px;
              }    



          }
        }

        #heroContainer {
          text-align: center;
              h1 {
                font-size: 3em;
                font-weight: 900;
                text-align: center;
                color: aliceblue;
              }

              #arrowDownImage {
                height: 70%;
              }
        }
}

// Splited card Style

#cardContainer {
    text-align: center;
 
        img {
            width: 100%;
            height: 40vh;
        }
      
        article {
            padding: 25px 0px;
            height: 60vh;
        
            h2 {
                font-size: 2.5rem;
                color: baseStyle.$neutral-VeryDarkBlue;
            }

            p {
                padding: 10%;
            }
        
            a {
                text-decoration: none;
                color: baseStyle.$neutral-VeryDarkBlue;
                font-weight: bold;
            }
            .learnBtn:hover{      
                text-decoration:underline;
                text-shadow: 2px;
                text-decoration-thickness: 3px;
            }
        }

        .fullCard {
            width: 100%;
            text-align: center;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            align-items: center;
            justify-content: flex-end;
            color: baseStyle.$primary-DarkCyan;
       
            p {
              font-size: 1.1rem;
            }
       
       
       
       
          }

        #card2 {
          .learnBtn:hover{
          text-decoration-color: yellow;    
          }
         }

        #card4 {  
          .learnBtn:hover{
          text-decoration-color: orange;    
          }
        }


        #card5 {
            background-image: url(../images/mobile/image-graphic-design.jpg);
        }

        #card6 {
            background-image: url(../images/mobile/image-photography.jpg);
        }
}


#testimonialSection {
    text-align: center;

    h3 {
      
    }


    .testimonialCards {
        text-align: center;
       
        img {
            padding-top: 5%;
            width: 20%;
            border-radius: 100%;
        }

        p {
          padding: 0% 10% 0% 10%;
        }
      
    }
  }

#imagesAside {
    flex-wrap: wrap;
    img {
        width: 50%;
    }
}

footer {
    padding-top: 30px;
    align-items: center;
    background-color: baseStyle.$primary-DarkDarkCyan;
    text-align: center;
        
        #footerLogo {
            width: 40%;
          }
          
        .footerLinksContainer {
            width: 100%;
            justify-content: space-evenly;
                a {
                    padding-top: 30px;
                    text-decoration: none;
                    color: baseStyle.$neutral-GrayishBlue;
                }
        }
        
        .footerIconsContainer {
            padding: 30px ;
            width: 45%;
            justify-content: space-between;
        }
}
  
@media screen and (min-width: 960px)  {

    #menuImage {
      display: none;
    }



    header {
      background-image: url(../images/desktop/image-header.jpg);
      background-size: 100% 100vh;

      nav {
          #navbarLinks {
            width: 25%;  
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            position: unset;
            margin: 0;
            padding: 0;
            padding-right: 5%;
            flex-direction: row;

            a {
              display: inline;
              padding-left: 7%;
            }

            #contactButton {
              margin: 0;
              
            }

            #triangle {
              display: none;
            }
        }
    }
}

      #cardContainer{
        flex-direction: row;
        flex-wrap: wrap;
        

            img {
              width: 50%;
              height: 75vh;
            }
          
        .card {
          padding: 0;
          width: 50%;
          height: 75vh;
              h2 {
                font-size: 2rem;
              }
        }
    
        #card2 {
            order: -1;
        }


        .fullCard {
            width: 50%;
            height: 75vh;
            background-size:cover;
                p {
                  width: 80%;
                }
        }

        #card5 {
          background-image: url(../images/desktop/image-graphic-design.jpg);
      }

      #card6 {
          background-image: url(../images/desktop/image-photography.jpg);
      }  
      }


      #testimonialSection {
          text-align: center;
          display:flex;
          flex-direction: column;
          height: 100vh;

              .testimonialContainer {
                  display: flex;
                  flex-direction: row;
                 .testimonialCards {
                      text-align: center;
           
                      img {
                          padding-top: 5%;
                          width: 20%;
                          border-radius: 100%;
                      }
    
                      p {
                          padding: 0% 10% 0% 10%;
                      }
                  }
              }
      }
    
      #imagesAside {
        flex-wrap: wrap;
        img {
            width: 25%;
        }
      }


}

 
