@use "baseStyle";

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
  width: 100vw;
}

// own clases.

.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}


// Mobile design
header {
  width: 100%;
  height: 90vh;
  background-image: url(../images/mobile/image-header.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
      nav {
        height: 7vh;
        top: 0;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
      
        img {
          height: 3vh;
          color: aliceblue;
        }

        #navbarLinks {
          display: none;
        }

      }
}


#heroContainer {
  text-align: center;
  h1 {
    font-family: baseStyle.$font-noto;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    color: aliceblue;
  }
}

// Splited card Style

#cardContainer {
  text-align: center;
 
    img {
      width: 100%;
      height: 40vh;
    }

    article {
    padding: 25px 0px;
    height: 50vh;

      h2 {
        font-family: baseStyle.$font-noto;
        font-size: 2rem;
      }

      a {
        text-decoration: none;
        color: baseStyle.$neutral-VeryDarkBlue;
        font-weight: bold;
      }
.learnBtn:hover{      
      text-decoration:underline;
      text-decoration-color: red;
      text-decoration-thickness: 10%;
}
  }

  .fullCard {
    width: 100%;
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: flex-end;

}
#card5 {
    background-image: url(../images/mobile/image-graphic-design.jpg);
}

#card6 {
    background-image: url(../images/mobile/image-photography.jpg);
}

}


#testimonialSection {
    text-align: center;

.testimonialCards {
    text-align: center;



    img {
        width: 20%;
        border-radius: 100%;
    }

}}

#imagesAside {
    flex-wrap: wrap;
    img {
        width: 50%;
    }
}

footer {
    padding-top: 30px;
    align-items: center;
    background-color: baseStyle.$primary-DarkDarkCyan;
    text-align: center;
    #footerLogo {
        width: 40%;
    }

    .footerLinksContainer {
        width: 100%;
        justify-content: space-evenly;
        a {
            padding-top: 30px;
            text-decoration: none;
            color: baseStyle.$neutral-GrayishBlue;
        }
    }
    .footerIconsContainer {
        padding: 30px ;
        width: 45%;
        justify-content: space-between;
    }
}
    
@media screen and (orientation: landscape) and (min-width: 376px) and (max-width: 991px)  {
 
  #navbarLinks {
    display: none;
       
  }



















    #cardContainer{
    flex-direction: row;
    flex-wrap: wrap;
    
        img {
          width: 50%;
          height: 90vh;
        }
    
        

        .card {
          padding: 0;
          width: 50%;
          height: 90vh;
              h2 {
                font-family: baseStyle.$font-noto;
                font-size: 2rem;
              }
        }
    
        fullCard {
            width: 50%;
            height: 80vh;
            background-size:cover;
        }

        #card2 {
          order: -1;
        }



    }


  }



/// desktop design

@media screen and ( min-device-width: 992px) {

 
header {
  height: 100vh;
  width: 100%;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: bottom;


nav {
  height: 5vh;
  padding: 3vh;

#menuImage {
  display: none;
}

#navbarLinks {
  display:initial;
  flex-direction: row;
  padding-right: 20px;
  align-items: center;




  a {
    text-decoration: none;
    padding-left: 30px;
  }
  
  #contactButton {
      margin-left: 30px;
      width: 50px;
      border-radius: 50px;
      padding: 5px;

      &:hover {
      background-color: red;
    }}
  }    
    
}

}












#heroContainer {
  h1 {
    font-size: 1em;
  }
  #arrowDownImage {
    height: 35%;
  }
}

// Splited card Style


#cardContainer{
  flex-direction: row;
  flex-wrap: wrap;

  img {
    width: 50%;
    height: 80vh;
  }
  
  .card {
     padding: 0;
    width: 50%;
    height: 80vh;
        h2 {
          font-family: baseStyle.$font-noto;
          font-size: 2rem;
        }
  }
  .fullCard {
    width: 50%;
    height: 80vh;
    background-size:cover;
  }

  
  #card2 {
      order: -1;
  }
  #card5 {
      background-image: url(../images/desktop/image-graphic-design.jpg);
  }
  #card6 {
      background-image: url(../images/desktop/image-photography.jpg);
  }

}









#testimonialSection {

    .cardContainer{
        display: flex;
        flex-direction: row ;
        justify-content:center;
    
    .testimonialCards {
        justify-content: space-evenly;
        width: 20%;
        height: 30vh;
        padding: 5%;

        img {
            width: 30%;
            border-radius: 100%;
        }
      
      }
    }
}


#imagesAside {
    flex-wrap: wrap;
    img {
        width: 25%;
    }
}

footer {
    padding-top: 30px;
    align-items: center;
    background-color: baseStyle.$primary-DarkDarkCyan;
    text-align: center;
    #footerLogo {
        width: 40%;
    }

    .footerLinksContainer {
        width: 100%;
        justify-content: space-evenly;
        a {
            padding-top: 30px;
            text-decoration: none;
            color: baseStyle.$neutral-GrayishBlue;
        }
    }
    .footerIconsContainer {
        padding: 30px ;
        width: 45%;
        justify-content: space-between;
    }
}
    

  
}
