@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
  width: 100vw;
}

.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.oculto {
  display: none;
}

.barlow {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: hsl(232deg, 10%, 55%);
}

.fraunces {
  font-family: "Fraunces", serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/mobile/image-header.jpg);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}
header nav {
  height: 7vh;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vh;
}
header nav img {
  height: 4vh;
}
header nav div {
  position: absolute;
  z-index: 10;
  justify-content: space-evenly;
  top: 10px;
  margin: 20% 0% 5%;
  width: 90%;
  height: 40%;
  background-color: azure;
  text-align: center;
}
header nav div #triangle {
  transform: skewY(-45deg);
  margin: 0;
  position: absolute;
  z-index: -1;
  width: 15%;
  height: 15%;
  background-color: azure;
  top: 0px;
  right: 0px;
}
header nav div a {
  text-decoration: none;
  color: hsl(232deg, 10%, 55%);
}
header nav div #contactButton {
  width: 25%;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}
header #heroContainer {
  text-align: center;
}
header #heroContainer h1 {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  color: aliceblue;
}
header #heroContainer #arrowDownImage {
  height: 70%;
}

#cardContainer {
  text-align: center;
}
#cardContainer img {
  width: 100%;
  height: 40vh;
}
#cardContainer article {
  padding: 25px 0px;
  height: 60vh;
}
#cardContainer article h2 {
  font-size: 2.5rem;
  color: hsl(212deg, 27%, 19%);
}
#cardContainer article p {
  padding: 10%;
}
#cardContainer article a {
  text-decoration: none;
  color: hsl(212deg, 27%, 19%);
  font-weight: bold;
}
#cardContainer article .learnBtn:hover {
  text-decoration: underline;
  text-shadow: 2px;
  text-decoration-thickness: 3px;
}
#cardContainer .fullCard {
  width: 100%;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: flex-end;
  color: hsl(167deg, 40%, 24%);
}
#cardContainer .fullCard p {
  font-size: 1.1rem;
}
#cardContainer #card2 .learnBtn:hover {
  text-decoration-color: yellow;
}
#cardContainer #card4 .learnBtn:hover {
  text-decoration-color: orange;
}
#cardContainer #card5 {
  background-image: url(../images/mobile/image-graphic-design.jpg);
}
#cardContainer #card6 {
  background-image: url(../images/mobile/image-photography.jpg);
}

#testimonialSection {
  text-align: center;
}
#testimonialSection .testimonialCards {
  text-align: center;
}
#testimonialSection .testimonialCards img {
  padding-top: 5%;
  width: 20%;
  border-radius: 100%;
}
#testimonialSection .testimonialCards p {
  padding: 0% 10% 0% 10%;
}

#imagesAside {
  flex-wrap: wrap;
}
#imagesAside img {
  width: 50%;
}

footer {
  padding-top: 30px;
  align-items: center;
  background-color: hsl(168deg, 34%, 41%);
  text-align: center;
}
footer #footerLogo {
  width: 40%;
}
footer .footerLinksContainer {
  width: 100%;
  justify-content: space-evenly;
}
footer .footerLinksContainer a {
  padding-top: 30px;
  text-decoration: none;
  color: hsl(210deg, 4%, 67%);
}
footer .footerIconsContainer {
  padding: 30px;
  width: 45%;
  justify-content: space-between;
}

@media screen and (min-width: 960px) {
  #menuImage {
    display: none;
  }
  header {
    background-image: url(../images/desktop/image-header.jpg);
    background-size: 100% 100vh;
  }
  header nav #navbarLinks {
    width: 25%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: unset;
    margin: 0;
    padding: 0;
    padding-right: 5%;
    flex-direction: row;
  }
  header nav #navbarLinks a {
    display: inline;
    padding-left: 7%;
  }
  header nav #navbarLinks #contactButton {
    margin: 0;
  }
  header nav #navbarLinks #triangle {
    display: none;
  }
  #cardContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #cardContainer img {
    width: 50%;
    height: 75vh;
  }
  #cardContainer .card {
    padding: 0;
    width: 50%;
    height: 75vh;
  }
  #cardContainer .card h2 {
    font-size: 2rem;
  }
  #cardContainer #card2 {
    order: -1;
  }
  #cardContainer .fullCard {
    width: 50%;
    height: 75vh;
    background-size: cover;
  }
  #cardContainer .fullCard p {
    width: 80%;
  }
  #cardContainer #card5 {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
  #cardContainer #card6 {
    background-image: url(../images/desktop/image-photography.jpg);
  }
  #testimonialSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  #testimonialSection .testimonialContainer {
    display: flex;
    flex-direction: row;
  }
  #testimonialSection .testimonialContainer .testimonialCards {
    text-align: center;
  }
  #testimonialSection .testimonialContainer .testimonialCards img {
    padding-top: 5%;
    width: 20%;
    border-radius: 100%;
  }
  #testimonialSection .testimonialContainer .testimonialCards p {
    padding: 0% 10% 0% 10%;
  }
  #imagesAside {
    flex-wrap: wrap;
  }
  #imagesAside img {
    width: 25%;
  }
}

/*# sourceMappingURL=style.css.map */
